*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
:root{
   --width-desktop:1440px;
   /* primary */
   --whitet:#ffffff;
   --Cyan:hsl(180, 66%, 49%);
   --Dark-Violet: hsl(257, 27%, 26%);
   --red:hsl(0,87%,67%);
   /* neutral */
   --gray:hsl(0, 0%, 75%);
   --Grayish-Violet: hsl(257, 7%, 63%);
   --Very-Dark-Blue: hsl(255, 11%, 22%);
   --Very-Dark-Violet: hsl(260, 8%, 14%);
}
body{
   font-family: 'Poppins', sans-serif;
   
   font-size: 18px;
   padding-top:50px;
}
button{
   border: none;
   background-color: unset;
   /* elimina el contorno de  */
   outline: none;

}
header{
   max-width: var(--width-desktop);
   margin-left:  auto ;
   margin-right: auto;
   display:flex;
   align-items: center;
   margin-bottom: 40px;
}

.header__logo{
   width: 150px;

}
.header__logo img{
   width: 100%;
   display: block;
}
.header__nav{
   flex:1;
}
.header .menu__button{
   display: none;
}
ul{
   list-style: none;
}
a{
   text-decoration: none;
}

.header__actions .header__signup{
   background-color:var(--Cyan);
   border-radius: 15px;
   padding: 10px 15px;
   color: var(--whitet);
   font-weight: 600;

}

.header__login{
   color: var(--gray);
   font-weight: 600;
}
.header__signup{
   margin-left: 12px;
}
.header__links{
   display: flex;
   padding-left: 50px;
   /* define la distancia interna  entre sus hijos  */
   gap: 30px;
}
.header__link a{
   color: var(--Grayish-Violet);
   font-weight: 600;
}
.main__hero-wrapper{
   background-image: url("./images/illustration-working.svg");
   
   background-repeat: no-repeat;
   background-position: 100% 0;
   /* para limitar el tam;o de la imagen  */
   background-size:50%;
   padding-bottom: 200px;

}

.main__hero{
   max-width: var(--width-desktop);
   margin-left: auto;
   margin-right: auto;
   display: flex;
}
.main__hero-title{
   width: 50%;
   padding-top: 50px;
}

.main__hero-wrapper h1{
   font-size: 80px;
   line-height: 90px;
   margin-bottom: 15px;
}
.main__hero-description{
   margin-bottom: 30px;
   padding-right: 180px;
   color: var(--Grayish-Violet);
   font-weight: 400;
   font-size:20px;
}
.main__hero-title button{
   margin-top: 30px;
   background-color:var(--Cyan);
   border-radius: 25px;
   padding: 15px 40px;
   color: var(--whitet);
   font-weight: 600;
   font-size: 23px;
}


/* END HERO */
/* ======================================================= */
/* START BG-GRAY */


.main__features{
   /* max-width: var(--width-desktop);
   margin-left: auto;
   margin-right: auto; */
   background-color: hsl(230deg 25% 95.29%);

   padding-bottom: 200px;
   

}  
.main__features-search{
   max-width: var(--width-desktop);
   margin-left: auto;
   margin-right: auto;

   height: 150px;
   background-color:var(--Dark-Violet);
   background-image: url("./images/bg-shorten-desktop.svg");
   background-size: cover;
   border-radius: 10px;
   display: flex;
   align-items: center;
   padding: 50px;
   gap: 40px;

   /* ya estoy listo para mover mi elemento */
   position: relative;
   top:calc(-150px / 2);
}
.main__features-search input{
   flex: 1;
   height: 100%;
   border-radius: 10px;
   padding-left: 20px;
   padding-right: 20px;
   border: none;
   outline: none;

}
.main__features-search button{
   height: 100%;
   border-radius: 10px;
   padding-left: 40px;
   padding-right: 40px;
   
  
   background-color:var(--Cyan);
   border-radius: 10px;
   padding: 12px 40px;
   color: var(--whitet);
   font-weight: 600;
   font-size: 23px;
}
.main__features-titles{
   max-width: var(--width-desktop);
   margin-left: auto;
   margin-right: auto;
   text-align: center;

}
.main__features-titles h2{
   font-size: 42px;
}
.main__features-titles p{
   max-width: 500px;
   margin: 20px auto 0 auto ;
   color: var(--gray);
}

/* =======los features cards================ */
.main__features-cards{
   margin-top: 100px;
   max-width: var(--width-desktop);
   margin-left: auto;
   margin-right: auto;
   display: flex;
   justify-content: space-between;
   position: relative;
   gap: 50px;
}
/* creando los before para las lineas en la seccion de los anuncios */
.main__features-cards::before{
   content: '';
   display: block;
   width:100%;
   border-top: 5px solid var(--Cyan);
   position: absolute;
   top: 150px;
}

.main__features-cards .card{
   background-color: #fafafa;
   border-radius: 8px;
   padding: 27px;
   padding-top: 50px;
/* para que sus hijos absolutos no se salgan mas alla de su primera etiqueta  */
   position: relative;;
}
/* creando los before para las lineas en la seccion de los anuncios */



.main__features-cards .card:nth-child(2){
   top: 50px;
}
.main__features-cards .card:nth-child(3){
   top: 100px;
}

.main__features-cards .card .card__img{
   background-color: var(--Dark-Violet);
   width:60px;
   height:60px;
   border-radius: 50%;
   display:flex;
   justify-content: center;
   align-items: center;
   padding:15px;
   position: absolute;
   top: 0;
   transform:translateY(-50%);
   max-width: 100%;
}
.main__features-cards .card .card__img img{
   max-width: 100%;

}
.main__features-cards .card .card__title{
   margin-bottom: 27px;
}
.main__features-cards .card .card__text{
   color: var(--Grayish-Violet);
}
.main__sectionBottom{
   
   margin-left:auto ;
   margin-right:auto ;

   background-image: url("./images/bg-boost-desktop.svg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-color: var(--Dark-Violet);
   
   text-align: center;
}
.main__sectionBottom-h3{
   color: var(--whitet);
   font-size: 42px;
   padding-top: 70px;
}
.main__sectionBottom button{
   margin-top: 41px;
   background-color:var(--Cyan);
   border-radius: 40px;
   padding: 22px 40px;
   color: var(--whitet);
   font-weight: 600;
   font-size: 32px;
   margin-bottom: 80px;
}
/* ========================footer========= */
.footer{
   padding-bottom: 100px;
   padding-top: 70px;
   background-color: var(--Very-Dark-Violet);
   color: var(--whitet);
   display: flex;
   justify-content: space-between;
}
.footer__img{
   flex: 1;
   text-align: center;
   margin-left:auto;
   margin-right: auto;
}
.footer__img p{
   font-weight: 600;
   font-size: 32px;
   
}
.footer__links{
   display: flex;
   
   gap: 50px;
   line-height: 40px;;
   flex: 1;
}
.footer__redsocial-img img{
   margin-right: 20px;
}
.footer__links a{
   color: var(--gray);
}

.footer__redsocial{
   display: flex;
   margin-left: 40px;
   margin-right: 80px;
}
.footer__redsocial-img{
   text-align: center;
   margin-left: auto;
   flex: 1;
} 



/* ===============================desktop1024======== */
@media(max-width:1024px){
   body{
      font-size:14px;
   }
   .header{
      padding:0 15px;
   }
   .main__hero-wrapper{
      padding:0 15px;
   }
   .main__features{
      padding:0 15px;
      padding-bottom:150px ;
   }


   .main__hero-description{
      padding-right: 100px;
   }
   .footer__redsocial{
      display: flex;
      margin-left: 40px;
      margin-right: 20px;
   }
   .main__hero-wrapper h1{
      font-size: 62px;
      line-height: 60px;
      margin-bottom: 15px;
   }
   .main__hero-description{
      margin-bottom: 30px;
      padding-right: 120px;
      color: var(--Grayish-Violet);
      font-weight: 400;
      font-size:20px;
   }
   .main__hero-wrapper{
      background-image: url("./images/illustration-working.svg");
      
      background-repeat: no-repeat;
      background-position: 100% 0;
      /* para limitar el tam;o de la imagen  */
      background-size:50%;
      padding-bottom: 150px;
   
   }
}
   /* ============================tablet 768PX */
   @media(max-width:768px){
      .header{
         padding:0 15px;
      }
      .main__hero-wrapper{
         padding:0 15px;
      }
      .main__features{
         padding:0 15px;
         padding-bottom:150px ;
      }
   
   
      .main__hero-title{
         padding: 0;
      }

      .main__hero-description{
         padding-right: 100px;
      }
      .footer__redsocial{
         display: flex;
         margin-left: 40px;
         margin-right: 20px;
      }
      .main__hero-wrapper h1{
         font-size: 42px;
         line-height: 40px;
         margin-bottom: 15px;
      }
      .main__features-cards .card{
         text-align: center;
         width:100%;
         font-size: 35px;
         padding: 50px 10px 40px 10px ;
      }
      .main__features-cards .card .card__title{
         
         margin-bottom: 15px;
      }
      .main__hero-description{
         margin-bottom: 30px;
         padding-right: 80px;
         color: var(--Grayish-Violet);
         font-weight: 400;
         font-size:16px;
      }
      .main__hero-wrapper{
         background-image: url("./images/illustration-working.svg");
         
         background-repeat: no-repeat;
         background-position: 100% 0;
         /* para limitar el tam;o de la imagen  */
         background-size:50%;
         padding-bottom: 150px;
      
      }
   
      .main__features-cards .card{
         text-align: center;
         width:100%;
         font-size: 12px;
         padding-top: 40px;
         padding-bottom: 20px;
         margin-bottom: 30px;
      }
      .main__features-cards .card .card__img{
         left: 50%;
         transform: translate(-50%,-50%);
         width:50px;
         height:50px;
         align-items: unset;
         padding: 18px;
         padding:12px;
      }

      /* ===============foote de tablet 768r=========== */
      .footer{
         padding-bottom: 50px;
         padding-top: 40px;
         background-color: var(--Very-Dark-Violet);
         color: var(--whitet);
         display: flex;
         justify-content: space-between;
      }
      .footer__img{
         flex: 1;
         text-align: center;
         margin-left:auto;
         margin-right: auto;
      }
      .footer__img p{
         font-weight: 600;
         font-size: 24px;
         
      }
      .footer__links{
         display: flex;
         
         gap: 20px;
         line-height: 20px;;
         flex: 1;
      }
      .footer__redsocial-img img{
         margin-right: 12px;
      }
      .footer__links a{
         color: var(--gray);
      }
      
      .footer__redsocial{
         display: flex;
         margin-left: 40px;
         margin-right: 40px;
      }
      .footer__redsocial-img{
         text-align: center;
         margin-left: auto;
         flex: 1;
      } 
   
   }
/* ================= media querie de 640 */
@media(max-width:640px){
   .header__nav{
      display: none;

   }
   .header__actions{
      display: none;
   }

   /* =========================para activar y desactivar el navbar */
   .header{
      display: flex;
      justify-content:space-between;
   }
   .header .menu__button {
      display: block;
   }
   .header .menu__button  {
      width: 40px;
      height: 30px;
   }
   .header button{
      border: none;
   }
}


/* ============================tablet 375PX */
@media(max-width:566px){
   .header{
      padding:0 15px;
   }
   .main__hero-wrapper{
      padding:0 15px;
   }
   .main__features{
      padding:0 15px;
   }

   .main__hero-action{
      margin-bottom: 100px;
   }

   /* =========================para activar y desactivar el navbar */
   .header{
      display: flex;
      justify-content:space-between;
   }
   .header .menu__button {
      display: block;
   }
   .header .menu__button  {
      width: 40px;
      height: 30px;
   }
   .header button{
      border: none;
   }

   .header__nav{
      display: none;
   }


   /*================= hast aqui */
   .main__hero-wrapper{
      padding-top: 390px;
      background-position: 50% 0;
      background-size: 100%;
   }
   .main__hero-title{
      width: 100%;
      text-align: center;
   }
   .main__hero-description{
      margin: 0;
      text-align: center;
      padding: 0;
   }
   /* .main__features{
      max-width: var(--width-desktop);
      margin-left: auto;
      margin-right: auto;
   } */
   .main__features-search{
      flex-direction: column;
      align-items: stretch;
      height: unset;
      gap: 20px;
      padding: 20px;
   }
   .main__features-search input{
      flex: unset;
      height:50px;
   }
   .main__features-search button{
      height: 50;
   }
   .main__features{
      padding-bottom: 120px;
   }
   .main__features-titles h2{
      font-size: 24px;
   }
   .main__features-cards{
      flex-direction:column;
      margin-bottom: 20px;
      padding: 0;
      gap: 0;
   }
   .main__features-cards .card{
      text-align: center;
      width:100%;
      font-size: 35px;
      padding: 60px 40px 50px 40px;
   }
   .main__features-cards .card .card__title{
      font-size: 24px;
      margin-bottom: 20px;
   }
   .main__features-cards .card .card__text{
      font-size: 14px;
   }

   .main__features-cards .card .card__img{
      left: 50%;
      transform: translate(-50%,-50%);
      width:80px;
      height:80px;
      align-items: unset;
      padding: 18px;
   }

   .main__features-cards::before{
      top: -5xp;
      border-top: none;
      border-left: 8px solid var(--Cyan);
      height: 80%;
      left: 50%;
      width: unset;
      transform: translate(-50%,0%);
   }
   .main__sectionBottom-h3{
   
      font-size: 23px;
      padding-top: 70px;
   }
   .main__sectionBottom button{
      border-radius: 40px;
      padding: 12px 25px;
      font-weight: 600;
      font-size: 21px;
      margin-top: 20px;
      margin-bottom:40px;
   }
   .footer{
      padding-bottom: 30px;
      padding-top: 30px;
   
      display: flex;
      flex-direction: column;
   }
   
   .footer__links{
      margin-top: 20px;
      display: flex;
      align-items: center;
      flex-direction: column;
      line-height: 25px;;
      flex: 1;
      text-align: center;
   }
   .footer__links h3{
      margin-bottom: 15px;
   }


   .footer__redsocial{
      margin-top: 20px;
      display: flex;
      justify-content: center;
      margin-left: auto;
      margin-right:auto;
      gap:12px;
   }
   .footer__redsocial-img img{
      margin-right:0;
   }
   .footer__redsocial-img{
      display: flex;
      gap:20px;
   }
   /*
   .footer__redsocial-img{
      text-align: center;
      margin-left: auto;
      flex: 1;
   } 
    */

}
@media(max-width:690px){
   .footer__img p{
      font-weight: 600;
      font-size: 18px;
      
   }
   .footer__redsocial-img img{
      width: 15px;
      height: 15px;
   } 
}

@media(max-width:376px){
   /* =============para los fondos=======  */
   .header{
      padding:0 15px;
   }
   .main__hero-wrapper{
      padding:0 15px;
   }
   .main__features{
      padding:0 15px;
   }


   .header__nav{
      display: none;
   }
   /* .header{
      display: flex;
      justify-content:space-between;
   } */
   .main__hero-wrapper{
      padding-top: 220px;
      background-position: 50% 0;
      background-size: 100%;
   }
   .main__hero-title{
      margin-top: 50px;
      width: 100%;
      text-align: center;
   }
   .main__hero-action{
      margin-bottom: 100px;
   }
   .main__hero-description{
      margin: 0;
      text-align: center;
      padding: 0;
   }
   /* .main__features{
      max-width: var(--width-desktop);
      margin-left: auto;
      margin-right: auto;
   } */
   .main__features-search{
      flex-direction: column;
      align-items: stretch;
      height: unset;
      gap: 20px;
      padding: 20px;
      margin-top: 20px;
   }
   .main__features-search input{
      flex: unset;
      height:50px;
   }
   .main__features-search button{
      height: 50;
   }
   .main__features{
      padding-bottom: 120px;
   }
   .main__features-titles h2{
      font-size: 24px;
   }
   .main__features-cards{
      flex-direction:column;
      margin-bottom: 20px;
      padding: 0;
      gap: 0;
   }
   .main__features-cards .card{
      text-align: center;
      width:100%;
      font-size: 35px;
      padding-top: 50px;
      padding-bottom: 40px;
   }
   .main__features-cards .card .card__title{
      font-size: 24px;
      margin-bottom: 20px;
   }
   .main__features-cards .card .card__text{
      font-size: 14px;
   }

   .main__features-cards .card .card__img{
      left: 50%;
      transform: translate(-50%,-50%);
      width:80px;
      height:80px;
      align-items: unset;
      padding: 18px;
   }

   .main__features-cards::before{
      top: -5xp;
      border-top: none;
      border-left: 8px solid var(--Cyan);
      height: 80%;
      left: 50%;
      width: unset;
      transform: translate(-50%,0%);
   }
   .main__sectionBottom-h3{
   
      font-size: 23px;
      padding-top: 70px;
   }
   .main__sectionBottom button{
      border-radius: 40px;
      padding: 12px 25px;
      font-weight: 600;
      font-size: 21px;
      margin-top: 20px;
      margin-bottom:40px;
   }
   .footer{
      padding-bottom: 30px;
      padding-top: 30px;
   
      display: flex;
      flex-direction: column;
   }
   
   .footer__links{
      margin-top: 20px;
      display: flex;
      align-items: center;
      flex-direction: column;
      line-height: 25px;;
      flex: 1;
      text-align: center;
   }
   .footer__links h3{
      margin-bottom: 15px;
   }


   .footer__redsocial{
      margin-top: 20px;
      display: flex;
      justify-content: center;
      margin-left: auto;
      margin-right:auto;
      gap:12px;
   }
   .footer__redsocial-img img{
      margin-right:0;
      width: 25px;
      height: 25px;
   }
   .footer__redsocial-img{
      display: flex;
      gap:20px;
   }
   /*
   .footer__redsocial-img{
      text-align: center;
      margin-left: auto;
      flex: 1;
   } 
    */

}